.cssLink a:visited{
	color: purple;
}

.cssLink a:hover{
	color: green;
}

.appImage{
	border-radius: 25px;
	border: 5px dotted green;
	height: 601px;
	width: 300px;
	padding: 5px;
}



td {
	padding: 5px;
	border: 1px solid green;
	background-color: #FFF;
}

th {
	padding: 5px;
	border: 1px solid green;
}

.mynav{
	background-color: #333 !important;
	font-family: Tahoma, sans-serif !important;
}

.myjumbo{
	background-color: ##333 !important;
	text-shadow: 2px 2px 4px #000 !important;
	font-family: Tahoma, sans-serif !important;
}

body{
	background-color: #333 !important;
	font-family: Tahoma, sans-serif !important;
	color: white;
}

.row ul {
	list-style-type: square !important;
	font-family: Tahoma, sans-serif !important;
}

.row li {
	font-family: Tahoma, sans-serif !important;
}

input[type=text] {
	border: 2px solid green !important;
	border-radius: 4px !important;
}

textarea{
	border: 2px solid green !important;
	border-radius: 4px !important;
}

input[type=email] {
	border: 2px solid green !important;
	border-radius: 4px !important;
}

input[type=date] {
	border: 2px solid green !important;
	border-radius: 4px !important;
}

.yellow{
	background-color: yellow;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-family: Tahoma, sans-serif !important;
	font-size: 10px;
	color: #FFF;
}

.footer a:link{
	color: #FFF;
}

.footer a:hover{
	color: #FFF;
}

.footer a{
	color: #FFF;
	text-decoration: none;
}

.button {
	background-color: #093;
	text-align: center;
	font-family: Tahoma, sans-serif !important;
	border-radius: 16px;
	color: #FFF;
	padding: 10px;
	border: none;
	text-decoration: none;
	display: inline-block;
}